<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>{{ title }}</title>
    </head>
    <body>
    <header>
        <h1 class="mb-3" style="display: inline-block">Миссия Колонизация Марса</h1>
        {% if session['name'] %}
            <p style="display: inline-block; margin-left: 40%">{{ session['name'] }}</p>
            <a role="button" class="btn btn-danger" style="display: inline-block" href="/logout">Выйти</a>
        {% else %}
            <a role="button" class="btn btn-primary" style="display: inline-block; margin-left: 50%" href="/login">Войти</a>
            <a role="button" class="btn btn-primary" style="background-color: greenyellow; border-color: greenyellow" href="/registration">Регистрация</a>
        {% endif %}
        <h4>И на Марсе будут яблони цвести!</h4>
    </header>
        {% block content %}{% endblock %}
    </body>
</html>